.side-nav {
  position: fixed; 
  right: 0; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 6.3%; 
  height: 70.2vh; 
  transition: right 0.3s ease; 
  z-index: 1000; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
}

.nav-icon-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;     
  height: 75%;            
  opacity: 1; 
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0s 0s; 
}

.nav-icon img {
  max-width: 2.5vw;
  max-height: 4.4vh;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6; /* 默认透明度 */ 
}

.nav-icon.active img {
  transform: scale(1.5);
  opacity: 1; 
}

.nav-icon img:hover {
  transform: scale(1.5);
  opacity: 1; 
}

.nav-line img {
  max-width: 2.5vw;
  max-height: 4.4vh;
  object-fit: contain;
}


.nav-icon {
  position: relative;
  display: inline-block;
}

.nav-icon::after {
  content: attr(data-tooltip); /* 使用 data-tooltip 的内容 */
  white-space: pre-line; /* 允许换行 */
  position: absolute;
  top: 100%; /* 提示框在图标下方 */
  left: 50%;
  transform: translateX(-50%);
  color: #333333;
  padding: 4px 16px;
  font-size: 16px;
  text-align: center; /* 水平居中文本 */
  visibility: hidden;
  opacity: 0.8;
  transition: opacity 0.2s;
  pointer-events: none;
  font-family: "LQXianEr";
}

.nav-icon:hover::after {
  visibility: visible;
  opacity: 1;
}

@font-face {
  font-family: "LQXianEr";
  src: url("../../assets/fonts/LQXianEr.ttf");
  font-weight: normal;
  font-style: normal;
}