.home-page {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .creatures-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  