.side-bar {
  position: fixed; 
  right: -4%; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 6.3%; 
  height: 70.2vh; 
  transition: right 0.3s ease; 
  z-index: 1000; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
}

.side-bar.open {
  right: 0; 
}

.icon-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;     
  height: 75%;            
  opacity: 0; /* 默认隐藏icon-group */
  visibility: hidden; /* 默认不占空间 */
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* 设置动画效果 */
}

.side-bar.open .icon-group {
  opacity: 1; /* 打开时显示icon-group */
  visibility: visible; /* 打开时使其可见 */
  transition: opacity 0.3s ease, visibility 0s 0s; /* 打开时立刻显示 */
}

.icon img {
  max-width: 2.5vw;
  max-height: 4.4vh;
  object-fit: contain;
  transition: filter 0.3s ease, transform 0.3s ease; 
}

.icon img:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  transform: scale(1.1);
}

.line img {
  max-width: 2.5vw;
  max-height: 4.4vh;
  object-fit: contain;
}
