.jigsaw {
  width: 100vw; 
  height: 100vh; 
  margin: 0;
  padding: 0;
  background-image: url('../../../public/detailspage/jigsaw-bg.png'); 
  background-size: "100% 100%";
  background-position: "center";
  background-repeat: "no-repeat";
}

.puzzle-container {
  display: block;
  width: 100vw;
  height: 80vh;
  background-color: transparent; /* 完全透明背景 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}